html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li {
  font-family: jost, sans-serif;
}

:root {
  --corAzul: #37517e;
  --branco: #f0f0f0;
  --corLaranjado: #ee9e0a;
  --corFonteAzul: rgb(15, 15, 94);
}

.bodyAll {
  color: var(--corFonteAzul);
}

.bgHeader {
  background-color: var(--corAzul);
}

.bgPadrao {
  background-color: var(--corAzul);
  color: var(--branco);
}

.logo {
  font-family: jost, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

#btnLogin,
#btnCadastro {
  width: 110px;
  border-radius: 15px;
  border: 2px solid silver;
  background-color: var(--corAzul);
  color: white;
  padding: 0 0.3rem;
}

h2.titulo {
  font-size: 48px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
  line-height: 56px;
}

h4.titulo {
  font-size: 24px;
  font-weight: 300;
}

.img {
  max-width: 80%;
}

.btn_introducao,
.btn_mais {
  border: 0;
  border-radius: 20px;
  padding: 0.3rem 0rem;
  width: 110px;
  background: #ffa009;
}

.btn_mais_inform {
  width: 200px;
  border-radius: 15px;
  border: 0;
  background: #c5fa50;
}

#patrocinios,
.utilitarios {
  background: rgb(243, 245, 250);
}

.patricionador {
  font-size: 20px;
  font-weight: 900;
}

p.txtAbout {
  line-height: 32px;
}

i {
  padding-right: 0.4rem;
}

p.txt-itemList {
  padding: 0.5rem 0rem;
}

.newsletter {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9));
  color: white;
}

.txtNewsletter {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}

.inputEmail {
  min-width: 300px;
}

 

.bordaTeste {
  border: 1px solid red;
}

/**** efeitor hover cards ***/
.hover-effect {
  background-color: #3498db;
  transition: transform 0.3s ease-in-out;
}

.fweight {
  font-family: "roboto", sans-serif;
  font-weight: 100;
  padding-inline: .5rem;
}

.miniBox {
  width: 100px;
  height: 120px;
  background: black;
  transform: rotate(45deg);
  color: white;
  font-size: 13px;
  border-radius: 4px;
  text-align: center;
}

.d_flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn_photo {
  border: 1px solid salmon;
  background: salmon;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  font-size: 13px;
  letter-spacing: 3px;
}

.btn_photo:hover {
  background: gray;
}

.container_flex {
  border: 1px solid orange;
  padding: 1rem 0rem;
}

.text_width {
  max-width: 600px;
}

.container_galery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.1rem;
}

/*** Box que fica a imagem ***/
.box {
  width: 320px;
  height: 200px;
  border: 1px solid #dde6ef;
  margin: 0.7rem;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.box img {
  width: 100%;
  height: auto;
}

.box:hover {
  transform: scale(1.1);
}

.hover-effect:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(149, 152, 183, 1);
  -moz-box-shadow: 2px 2px 10px 0px rgba(149, 152, 183, 1);
  box-shadow: 2px 2px 10px 0px rgba(149, 152, 183, 1);
}

/*** fim efeito hover cards ***/

/**** inicio do efeito css movimentar - aplicado a imagem inicial****/
.movimentarImagem {
  animation: pular 2s ease alternate infinite;
  place-items: center;
}

@keyframes pular {
  to {
    transform: translatey(2.6rem);
  }
}

/*** fim do efeito css movimentar ****/

.container-footer {
  display: column;
  justify-content: space-evenly;
}

footer {
  background-color: black;
  color: white;
  padding: 4rem 1rem 6rem 1rem;
}

.footer-title {
  font-size: 22px;
  padding-top: 1.3rem;
}

ul li {
  padding: 0.3rem 0.5rem;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: gray;
}

ul li.link__footer a:hover {
  color: white;
  margin-left: 0.5rem;
  text-decoration: none;
}

.container-link-redeSocial {
  display: flex;
}

.container-link-redeSocial li a:hover {
  margin-left: 0rem;
}

p i {
  font-size: 40px;
}

.direitosAutorais {
  background: #b0c4de;
  padding: 1.5rem 2rem;
  font-weight: 100;
  font-size: 17px;
}

.bx {
  transition: transform 0.3s ease-in-out;
  font-size: 40px;
}

.bx:hover {
  transform: scale(1.1);
  color: orange; 
}


@media (max-width:425px){
  input[type=email]{
    margin-bottom: .5rem;
  } 
}